# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# log files
crash.log
crash.*.log

# ignore sensitive variable files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ignore CLI configuration files
.terraformrc
terraform.rc